@charset "utf-8";

.skin-red {
	background: url(/Article/images2016/skin-red/n_bg.jpg) no-repeat center top;
}

.skin-red .logo {
	background: url(/Article/images2016/skin-red/n-logo.png) no-repeat;
}

.skin-red .top-search .top-input {
  border: 1px solid #970303;
}

.skin-red .top-btn {
	background: url(/Article/images2016/skin-red/search_btn.jpg) no-repeat #960101 center center;
}

.skin-red .top {
  background: url(/Article/images2016/skin-red/n-nav-bg.png) no-repeat center bottom;
}

.skin-red .nav_child {
	border-bottom: 1px solid #ac0101;
}

.skin-red .nav_child li {
	background: #ac0101;
	border: 1px solid #9e0101;
}

.skin-red .nav_child li a:hover {
	background: #920101;
}

.skin-red .nindex_new_top li.on{ 
	background: #e50101; 
}

.skin-red .nindex_new_top li.on:before {
  border-color: #e50101 transparent transparent transparent;
}

.skin-red .yFocus .footNav li.cur {
	background: #e50101;
}

.sjd-txt-ban {
	position: absolute;
	top: 53px;
	left: 349px;
	z-index: 1;
	height: 50px;
	padding-top: 10px;
	padding-left: 59px;
}

.sjd-txt-ban ul {
	width: 300px;
	height: 39px;
}

.sjd-txt-ban li {
	width: 300px;
	height: 39px;
text-align:center;
}

.sjd-txt-ban .footNav {
	display: none;
}

.sjd-txt {
	display: block;
	width: 300px;
	height: 39px;
	background: url(/Article/images2016/skin-red/sjd-txt-1.png) no-repeat;
}

.sjd-txt-2 {
	background: url(/Article/images2016/skin-red/sjd-txt-2.png) no-repeat;
}

.sjd-txt-3 {
	background: url(/Article/images2016/skin-red/sjd-txt-3.png) no-repeat;
}

.sjd-txt-ban .controls { display: none !important;}